### Distributed data analysis basics

1. Computing framework: Spark, Hadoop MapReduce
2. Database: MongoDB, SQL, HDFS, Cassandra, Hbase
3. Nodes: single machine, multiple nodes on VMs
4. Dataset: Titanic dataset for inital step

### Part1 - Run on single machine with Spark, MongoDB

In [1]:
from pyspark.sql.types import *
import pprint

from spark_obj import SparkMongoDB, SparkLocal
import utils

In [2]:
dbname = 'titanic'
f_train = 'data/train.csv'
f_test = 'data/test.csv'
numeric_fields = ['Survived', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare']
text_fields = ['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

db = utils.create_db(dbname, drop_on_exist=True)

#### Define datatype for each column, so that the correct types can be read in with csv reader

In [3]:
# PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
col_types_train = [str, int, int, str, str, float, int, int, str,float, str, str]
# PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
col_types_test = [str, int, str, str, float, int, int, str,float, str, str]

In [4]:
def load_all_data(db, coll_name):
    # read all items from collection 'train', which is a list of dictionaries
    train_docs = utils.read_from_collection(db, coll_name)

    spark = SparkLocal()
    df = spark.create_dataframe(train_docs)
    return spark, df

def load_with_mongodb_connector(dbname, coll_name):
    spark = SparkMongoDB(dbname, coll_name)
    df = spark.create_dataframe()
    return spark, df

#### Save dataset read from csv files into MongoDB:
- database name: 'titanic'
- collections: 'train', 'test'

In [5]:
utils.insert_to_collection(db, 'train', utils.read_from_csvfile(f_train, col_types_train))
utils.insert_to_collection(db, 'test', utils.read_from_csvfile(f_test, col_types_test))

#### Verify data in database

In [6]:
print "Total docs in colection 'train': {}".format(db.train.count())
train_doc = db.train.find_one()
print "The first doc:\n{}".format(train_doc)

Total docs in colection 'train': 891
The first doc:
{u'Fare': 7.25, u'Name': u'Braund, Mr. Owen Harris', u'Embarked': u'S', u'Age': 22.0, u'Parch': 0, u'Pclass': 3, u'Sex': u'male', u'Survived': 0, u'SibSp': 1, u'_id': ObjectId('590e3b32201f213eba4285bd'), u'PassengerId': u'1', u'Ticket': u'A/5 21171', u'Cabin': None}

In [7]:
print "Total docs in colection 'test': {}".format(db.test.count())
test_doc = db.test.find_one()
print "The first doc:\n{}".format(test_doc)

Total docs in colection 'test': 418
The first doc:
{u'Fare': 7.8292, u'Name': u'Kelly, Mr. James', u'Embarked': u'Q', u'Age': 34.5, u'Parch': 0, u'Pclass': 3, u'Sex': u'male', u'SibSp': 0, u'_id': ObjectId('590e3b32201f213eba428938'), u'PassengerId': u'892', u'Ticket': u'330911', u'Cabin': None}

#### Read the whole training data from MongoDB, and create a sparkSession and a pyspark dataframe

In [8]:
coll_name = 'train'
# spark-submit run.py
spark, df = load_all_data(db, coll_name)
print df.count()

891

#### Create pyspark dataframe with the data

In [9]:
df.printSchema()

root
 |-- Age: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Name: string (nullable = true)
 |-- Parch: long (nullable = true)
 |-- PassengerId: string (nullable = true)
 |-- Pclass: long (nullable = true)
 |-- Sex: string (nullable = true)
 |-- SibSp: long (nullable = true)
 |-- Survived: long (nullable = true)
 |-- Ticket: string (nullable = true)

In [10]:
df.take(2)

[Row(Age=22.0, Cabin=None, Embarked=u'S', Fare=7.25, Name=u'Braund, Mr. Owen Harris', Parch=0, PassengerId=u'1', Pclass=3, Sex=u'male', SibSp=1, Survived=0, Ticket=u'A/5 21171'),
 Row(Age=38.0, Cabin=u'C85', Embarked=u'C', Fare=71.2833, Name=u'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Parch=0, PassengerId=u'2', Pclass=1, Sex=u'female', SibSp=1, Survived=1, Ticket=u'PC 17599')]

#### Print the stats

In [11]:
df.describe().toPandas().transpose()

,0,1,2,3,4
summary,count,mean,stddev,min,max
Age,714,29.69911764705882,14.52649733233404,0.42,80.0
Cabin,204,None,None,A10,T
Embarked,889,None,None,C,S
Fare,891,32.20420796857464,49.69342859718091,0.0,512.3292
Name,891,None,None,"Abbing, Mr. Anthony","van Melkebeke, Mr. Philemon"
Parch,891,0.38159371492704824,0.8060572211299483,0,6
PassengerId,891,446.0,257.3538420152301,1,99
Pclass,891,2.308641975308642,0.836071240977049,1,3
Sex,891,None,None,female,male
SibSp,891,0.5230078563411896,1.1027434322934317,0,8
Survived,891,0.3838383838383838,0.48659245426485737,0,1
Ticket,891,260318.54916792738,471609.26868834975,110152,WE/P 5735

#### Get summary statistics for both numeric and text fields
The dataset is not cleaned, so the results are a bit messive here.

In [14]:
stats_numeric = spark.get_stats_summary_numeric_fields(df, numeric_fields)
utils.pretty_print_stats(stats_numeric)
stats_text = spark.get_stats_summary_text_fields(df, text_fields)
utils.pretty_print_stats(stats_text)

Field: Fare
{'max': 512.3292, 'mean': 32.20420796857464, 'median': 23.0, 'min': 0.0}

Field: SibSp
{'max': 8, 'mean': 0.5230078563411896, 'median': 0.0, 'min': 0}

Field: Survived
{'max': 1, 'mean': 0.3838383838383838, 'median': 0.0, 'min': 0}

Field: Age
{'max': 80.0, 'mean': 29.69911764705882, 'median': 28.0, 'min': 0.42}

Field: Parch
{'max': 6, 'mean': 0.38159371492704824, 'median': 0.0, 'min': 0}

Field: Pclass
{'max': 3, 'mean': 2.308641975308642, 'median': 3.0, 'min': 1}

Field: Ticket
{'max': (u'PC', 60),
 'min': (u'3101317', 1),
 'word_counts': [(u'PC', 60),
                 (u'C.A.', 27),
                 (u'2.', 12),
                 (u'STON/O', 12),
                 (u'A/5', 10),
                 (u'W./C.', 9),
                 (u'SOTON/O.Q.', 8),
                 (u'CA.', 8),
                 (u'SOTON/OQ', 7),
                 (u'347082', 7),
                 '...',
                 (u'39886', 1),
                 (u'3536', 1),
                 (u'20589', 1),
                 (u'3235', 1),
                 (u'2625', 1),
                 (u'347089', 1),
                 (u'392090', 1),
                 (u'312991', 1),
                 (u'28206', 1),
                 (u'3101317', 1)]}

Field: Sex
{'max': (u'male', 577),
 'min': (u'female', 314),
 'word_counts': [(u'male', 577), (u'female', 314)]}

Field: Name
{'max': (u'Mr.', 517),
 'min': (u'Rush,', 1),
 'word_counts': [(u'Mr.', 517),
                 (u'Miss.', 182),
                 (u'Mrs.', 125),
                 (u'William', 62),
                 (u'John', 44),
                 (u'Master.', 40),
                 (u'Henry', 33),
                 (u'James', 24),
                 (u'Charles', 23),
                 (u'George', 22),
                 '...',
                 (u'Hoffman")', 1),
                 (u'Yoto', 1),
                 (u'Cairns,', 1),
                 (u'Greenberg,', 1),
                 (u'Waelens,', 1),
                 (u'Ward,', 1),
                 (u'Emile', 1),
                 (u'Fleming', 1),
                 (u'Viljami', 1),
                 (u'Rush,', 1)]}

Field: Cabin
{'max': ('MissingValue', 687),
 'min': (u'C103', 1),
 'word_counts': [('MissingValue', 687),
                 (u'B96', 4),
                 (u'C27', 4),
                 (u'G6', 4),
                 (u'C23', 4),
                 (u'B98', 4),
                 (u'C25', 4),
                 (u'F', 4),
                 (u'C26', 3),
                 (u'C22', 3),
                 '...',
                 (u'A16', 1),
                 (u'B42', 1),
                 (u'A23', 1),
                 (u'E12', 1),
                 (u'B73', 1),
                 (u'E63', 1),
                 (u'D48', 1),
                 (u'D9', 1),
                 (u'C90', 1),
                 (u'C103', 1)]}

Field: Embarked
{'max': (u'S', 644),
 'min': ('MissingValue', 2),
 'word_counts': [(u'S', 644), (u'C', 168), (u'Q', 77), ('MissingValue', 2)]}

#### Print correlation matrix for numeric columns

In [ ]:
corr_matrix = spark.get_correlation_matrix(df, numeric_fields)
df_corr = utils.create_pandas_dataframe(corr_matrix, numeric_fields, numeric_fields)
print df_corr

#### Print covariance matrix for numeric columns

In [ ]:
cov_matrix = spark.get_covariance_matrix(df, numeric_fields)
df_cov = utils.create_pandas_dataframe(cov_matrix, numeric_fields, numeric_fields)
print df_cov